<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PageA_test</title>
    <script src="/Static/jquery-3.5.1.js"></script>
</head>


<body>
    <a>hello world</a>
    <p>{{ time }}</p>
    <table>
        {% for item in dota %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{ item.position }}</td>
                <td>{{ item.role }}</td>
            </tr>
        {% endfor %}
    </table>
    <form>
        <p>
            <select name="test_id">
                {% for hero in dota %}
                    <option value="{{ hero.id }}">{{ hero.role }}</option>
                {% endfor %}
            </select>
        </p>
    </form>
    <p>
        <input id="input_id" type="text" name="title" />
    </p>
    <input type="button" value="提交" onclick="AjaxSend();" />
    <a>hahahkkkkkk</a>

    <script>
        function AjaxSend() {
            $.ajax(
                {
                    url: '/aJaxTest/',
                    type:'POST',
                    data:{'title': $('#input_id').val()},
                    success: function (data) {
                        console.log($('#input_id').val())
                        console.log(data)
                        if(data == '0'){
                            location.href='/pageB/';
                        }else{
                            $('#errormsg').text(data);
                        }
                    }
                }
            )
        }
    </script>
</body>
</html>