<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jq监听关闭浏览器</title>
<script type="text/javascript" src="jq.js"></script>
</head>

<!-- 不稳定，还需要测试 -->
<body>
<script type="text/javascript">
<!--
    window.onbeforeunload = onbeforeunload_handler;
    function onbeforeunload_handler(){
       var rstr = "确定退出？";
       return rstr;
    }
// -->
</script>

</body>
</html>